{% extends 'base.html.twig' %}

{% block title %}Connexion{% endblock %}

{% block body %}
<form method="post">
    {% if error %}
        <div class="">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    <div class="title">
        <h1>Connexion</h1>
    </div>
    <div class="line"></div>

    <div class="form">
        <label class="label" for="inputEmailUtilisateur">Email :</label>
        <input type="email" value="{{ last_username }}" name="emailUtilisateur" id="inputEmailUtilisateur" class="form" autocomplete="email" required autofocus>
    </div>
    <div class="form">
        <label for="inputPassword">Password</label>
        <input type="password" name="password" id="inputPassword" class="form" autocomplete="current-password" required>
    </div>

    <input type="hidden" name="_csrf_token"
           value="{{ csrf_token('authenticate') }}"
    >

    <button class="btn submit" type="submit">
        Se connecter
    </button>
</form>
{% endblock %}
