{% extends 'base.html.twig' %}

{% block title %}Liste des formations{% endblock %}

{% block body %}
<div class="titre">
    <h1>Liste des formations</h1>
    <a class="btn" href="{{ path('new_formation')}}">Ajout</a>
</div>
<div class="line"></div>


    {% for formation in formations %}
    <div class="list formation">
        <a href="{{ path('show_formation', {'id': formation.id}) }}">
            <h3>{{ formation.titreFormation }}</h3>
                {% for session in formation.sessions %}
                    {{ session.nomSession }}{% if not loop.last %} - {% endif %}
                {% endfor %}
        </a>
    </div> 
    {% endfor %}


{% endblock %}
