{% extends 'base.html.twig' %}

{% block title %}Liste des formations{% endblock %}

{% block body %}
<h1>Liste des formations</h1>

<ul>
    {% for formation in formations %}
    <li>
        <a href="{{ path('show_formation', {'id': formation.id}) }}">{{ formation.titreFormation }}</a>
    </li> 
    {% endfor %}
</ul>


{% endblock %}
