{% extends 'base.html.twig' %}

{% block title %}Liste des formations{% endblock %}

{% block body %}
<h1>Liste des formations</h1>

    {% for formation in formations %}
    <div class="list formation">
        <a href="{{ path('show_formation', {'id': formation.id}) }}">
        <p>{{ formation.titreFormation }}</p>
        <ul>
            {% for session in formation.sessions %}
                <li>{{ session.nomSession }}</li>
            {% endfor %}
        </ul>
        </a>
    </div> 
    {% endfor %}


{% endblock %}
