:root{
    --primary: #1b9988;
    --black: #000;
    --white: #f6f6f6;
}

*{
    scroll-behavior: smooth;
}

body{
    font-family: "League Spartan", sans-serif;
    background-color: var(--white);
    min-height: 100vh;
}

.primary{
    color: var(--primary) !important;
}

/* NAVIGATION BAR */

#navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 100%;
    min-width: fit-content;
}

.links{
    display: flex;
    flex-flow: row nowrap;
}

.nav-links{
    display: flex;
    justify-content: center;
    align-items: center;
    list-style-type: none;
}

.nav-link{
    margin: 0 10px;
}

.nav-link a{
    color: #000;
    text-decoration: none;
    font-size: 28px;
    transition: 400ms ease;
}

.nav-link a:visited{
    color: #000;
}

.nav-link a:hover{
    font-weight: 500;
}

.nav-link a::before {
    display: block;
    content: attr(title);
    font-weight: bold;
    height: 0;
    overflow: hidden;
    visibility: hidden;
}

.logo{
    font-size: 40px;
    font-weight: 900;
    text-decoration: none !important;
    transition: 400ms ease;
}

.logo span{
    color: var(--primary);
}

.active{
    color: var(--primary) !important;
    font-weight: 500;
}

.menuburger{
    cursor: pointer;
    display: none;
}

.menuburger .bar1, .bar2, .bar3{
    width: 35px;
    height: 5px;
    background-color: #000;
    margin: 5px;
    transition: 400ms;
}

.change .bar1{
    transform: translate(0, 10px) rotate(-45deg);
}

.change .bar2 {
    opacity: 0;
}

.change .bar3 {
  transform: translate(0, -10px) rotate(45deg);
}


/* MAIN */

main{
    padding: 50px 150px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: fit-content;
    transition: 400ms ease;
}

.titre{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.titre h1{
    font-size: 34px;
    align-self: flex-start;
}

.sous-titre{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.sous-titre h2{
    font-size: 28px;
}

.btns{
    display: flex;
}

.btn{
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
    height: fit-content;
    padding: 10px;
    margin: 10px;
    font-size: 20px;
    text-decoration: none;
    border-radius: 15px;
    color: #000;
    transition: all 200ms ease;
    border: 3px solid var(--primary);
    cursor: pointer;
}

.btn:hover{
    background-color: var(--primary);
    color: #fff;
}

.delete{
    border: 3px solid rgb(112, 25, 25) !important;
}

.delete:hover{
    background-color: rgb(112, 25, 25) !important;
    color: #fff;
}


.form{
    display: flex;
    flex-direction: column;
    padding: 8px;
    margin: 10px;
    width: fit-content;
}


.submit{
    border: 3px solid var(--primary);
    border-radius: 15px;
}

.form-toggle{
    display: none !important;
}

    /* FLASH MESSAGES */

    /* .flash-success{
        position: absolute;
        z-index: 5;
        right: 0;
        top: 25vh;
        display: flex;
        justify-content: center;
        align-items: center;
        justify-self: flex-end;
        width: 25vw;
        height: auto;
        text-align: center;
        font-size: 25px;
        margin: 0;
        padding: 10px;
        color: var(--white);
        background-color: #25802a;
        transition: all 400ms ease;
    }

    .flash-error{
        position: absolute;
        right: 0;
        bottom: 25vh;
        display: flex;
        justify-content: center;
        align-items: center;
        justify-self: flex-end;
        width: 25vw;
        height: auto;
        text-align: center;
        font-size: 25px;
        margin: 0;
        padding: 10px;
        color: var(--white);
        background-color: #a31515;
        transition: all 400ms ease;
    } */

    
    /* DASHBOARD PAGE */

    #en-cours{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        min-width: fit-content;
    }

    #en-cours h2{
        align-self: flex-start;
        font-size: 34px;
    }

    #prochainement{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        min-width: fit-content;
    }

    #prochainement h2{
        align-self: flex-start;
        font-size: 34px;
    }

    .line{
        width: 100%;
        height: 5px;
        border-radius: 15px;
        background-color: #000;
        margin-bottom: 10px;
    }

    .dashboard-sessions{
        display: flex;
        justify-content: center;
        max-width: 100%;
    }

    .dashboard-session{
        max-width: 500px;
        width: fit-content;
        height: auto;
        border: 3px solid var(--primary);
        border-radius: 15px;
        padding: 8px 10px;
        margin: 20px;
        transition: all 400ms ease;
    }

    .dashboard-session:hover{
        border-radius: 0;
        /* background: linear-gradient(180deg, var(--primary) 0%, var(--primary) 3%, var(--white) 3%); */
    }

    .dashboard-session h4{
        font-size: 24px;
    }

    .dashboard-session h3{
        font-size: 30px;
    }

    .dashboard-session .primary{
        margin: 8px 0;
        font-size: 22px;
        font-weight: 500;
        text-decoration: none;
        transition: 400ms ease;
    }

    .line-2{
        display: none;
        align-self: stretch;
        min-width: 5px;
        width: 5px;
        background-color: var(--primary);
        border-radius: 15px;
    }

    #dashboard-formations{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    #dashboard-formations h2{
        align-self: flex-start;
        font-size: 34px;
    }

    .wrapper-formations{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        align-items: stretch;
        width: 100%;
        margin-top: 10px;
    }

    .dashboard-formation{
        display: flex;
        flex-direction: column;
        justify-content: center !important;
        align-items: center !important;
        text-align: center;
    }


    /* TABLES */

    table{
        border-collapse: collapse;
        min-width: fit-content;
        width: 70%;
        font-size: 20px;
    }

    th{
        border: 1px solid #000;
        text-align: left;
        padding: 8px;
        color: var(--primary);
    }

    td{
        border: 1px solid #000;
        padding: 8px;
    }


    /* LISTS */

    .list{
        border: 2px solid var(--primary);
        border-radius: 15px;
        width: 30vw;
        min-width: fit-content;
        height: fit-content;
        padding: 10px 8px;
        margin: 10px;
        transition: 400ms ease;
        font-size: 20px;
    }

    .categorie{
        min-width: fit-content !important;
    }

    a{
        color: #000;
        text-decoration: none;
    }

    a:visited{
        color: #000;
        text-decoration: none;
    }

    .list h3{
        margin: 5px 0;
        font-size: 28px;
    }

    .list:hover{
        border-radius: 0%;
    }

    .session{
        display: flex;
        justify-content: space-between;
    }


    /* STAGIAIRE */

    .fiche{
        width: fit-content;
        padding: 8px 10px;
    }

    .fiche h3{
        font-size: 30px;
    }

    .fiche p{
        font-size: 24px;
    }

    .fiche-sessions h2{
        font-size: 34px;
        align-self: flex-start;
    }

/* BACK TO TOP */

.back-to-top{
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border: 1px solid #000;
    transition: 300ms;
}

.back-to-top:hover{
    border-radius: 15px;
}

.back-to-top i{
    font-size: 30px;
}

.back-to-top a{
    color: var(--primary);
}

.back-to-top a:visited{
    color: var(--primary);
}

.blur{
    filter: blur(4px);
}


@media screen and (max-width: 1380px){

    .menuburger{
        position: fixed;
        right: 10px;
        display: block;
        z-index: 99;
        margin: 10px;
    }

    .links{
        z-index: 4;
        position: fixed;
        height: 100vh;
        min-width: 40vw;
        width: fit-content;
        background: linear-gradient(180deg, rgba(27,153,136,1) 0%, rgba(105,214,200,1) 100%);
        top: 0;
        right: 0;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        transition: 400ms;
        margin-right: -500px;
    }

    .nav-links{
        z-index: 5;
        display: flex;
        flex-direction: column;
        gap: 50px;
    }

    .nav-links a{
        font-size: 40px;

    }

    .nav-links .primary{
        color: #fff !important;
    }

    .mobile-menu{
        margin-right: 0;
    }

    .active{
        color: var(--white) !important;
    }
}