*{
    scroll-behavior: smooth;
}

body{
    font-family: "League Spartan", sans-serif;
    background-color: #f6f6f6;
}

.orange{
    color: #FF9900 !important;
}

/* NAVIGATION BAR */

#navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.nav-links{
    display: flex;
    justify-content: center;
    align-items: center;
    list-style-type: none;
}

.nav-link{
    margin: 0 10px;
}

.nav-link a{
    color: #000;
    text-decoration: none;
    font-size: 28px;
    transition: 400ms ease;
}

.nav-link a:visited{
    color: #000;
}

.nav-link a:hover{
    font-weight: 500;
}


.logo{
    font-size: 40px;
    font-weight: 900;
    text-decoration: none !important;
}

.logo span{
    color: #FF9900;
}



/* MAIN */

main{
    padding: 50px 150px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.titre{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.titre h2{
    font-size: 34px;
    align-self: flex-start;
}

.btn{
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
    height: fit-content;
    padding: 10px;
    font-size: 20px;
    text-decoration: none;
    border-radius: 15px;
    color: #000;
    transition: 400ms ease;
    border: 3px solid #FF9900;
}

.btn:hover{
    transform: scale(1.1)
}

form{
    display: flex;
    flex-direction: column;
}

.form{
    padding: 8px;
    margin: 10px;
    width: 60%;
    transition: all 400ms ease;

}

/* .form:focus{
    width: 150%;
} */

.submit{
    border: 3px solid #FF9900;
    border-radius: 15px;
}

    /* DASHBOARD PAGE */

    #prochainement{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    #prochainement h2{
        align-self: flex-start;
        font-size: 34px;
    }

    .line{
        width: 100%;
        height: 5px;
        border-radius: 15px;
        background-color: #000;
        margin-bottom: 10px;
    }

    .dashboard-sessions{
        display: flex;
        max-width: 100%;
    }

    .dashboard-session{
        max-width: 500px;
        width: fit-content;
        height: auto;
        border: 3px solid #FF9900;
        border-radius: 15px;
        padding: 8px 10px;
        margin: 20px;
        transition: 400ms ease;
    }

    .dashboard-session:hover{
        transform: scale(1.05);
    }

    .dashboard-session h4{
        font-size: 24px;
    }

    .dashboard-session h3{
        font-size: 30px;
    }

    .dashboard-session .orange{
        margin: 8px 0;
        font-size: 22px;
        font-weight: 500;
        text-decoration: none;
        transition: 400ms ease;
    }

    .dashboard-session .orange:hover{
        font-weight: 700;
    }

    .line-2{
        display: none;
        align-self: stretch;
        min-width: 5px;
        width: 5px;
        background-color: #FF9900;
        border-radius: 15px;
    }

    #dashboard-formations{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    #dashboard-formations h2{
        align-self: flex-start;
        font-size: 34px;
    }

    .wrapper-formations{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        align-items: stretch;
        width: 100%;
        margin-top: 10px;
    }


    /* TABLES */

    table{
        border-collapse: collapse;
        min-width: fit-content;
        width: 70%;
        font-size: 20px;
    }

    th{
        border: 1px solid #000;
        text-align: left;
        padding: 8px;
        color: #FF9900;
    }

    td{
        border: 1px solid #000;
        padding: 8px;
    }


    /* LISTS */

    .list{
        border: 2px solid #FF9900;
        border-radius: 15px;
        min-width: 30vw;
        width: fit-content;
        height: fit-content;
        padding: 10px 8px;
        margin: 10px;
        transition: 400ms ease;
        font-size: 20px;
    }

    .categorie{
        min-width: fit-content !important;
    }

    .list a, a:visited{
        color: #000;
        text-decoration: none;
    }

    .list h3{
        margin: 5px 0;
        font-size: 28px;
    }

    .list li{
        list-style-type: none;
    }

    .list li::before{
        content: '- '
    }

    .list:hover{
        transform: scale(0.5);
    }


    /* STAGIAIRE */

    .stagiaire{
        border: 3px solid #FF9900;
        border-radius: 15px;
        width: fit-content;
        padding: 8px 10px;
    }

    .stagiaire-sessions h2{
        font-size: 34px;
        align-self: flex-start;
    }

/* BACK TO TOP */

.back-to-top{
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border: 1px solid #000;
    border-radius: 5px;
    transition: 400ms ease;
}

.back-to-top:hover{
    background-color: #000;
}

.back-to-top i{
    font-size: 30px;
}

.back-to-top a{
    color: #FF9900;
}


.back-to-top a:visited{
    color: #FF9900;
}


.back-to-top:hover a{
    color: #FF9900;
}

.back-to-top:hover a:visited{
    color: #FF9900;
}

.back-to-top:hover i{
    color: #FF9900;
}