{% extends 'base.html.twig' %}

{% block title %}Liste des stagiaires{% endblock %}

{% block body %}
<div class="titre">
<h1>Liste des stagiaires</h1>
{% if is_granted('ROLE_ADMIN') %}
    <a class="btn" href="{{ path('new_stagiaire')}}">Ajout</a>
{% endif %}
</div>
<div class="line"></div>

{% for stagiaire in stagiaires %}
    <div class="list stagiaire">
        <a href="{{ path('show_stagiaire', {'id': stagiaire.id }) }}">
            <h3>{{ stagiaire }}</h3>
        </a>
    </div>
{% endfor %}



{% endblock %}
