{% extends 'base.html.twig' %}

{% block title %}Liste des stagiaires{% endblock %}

{% block body %}
<div class="titre">
<h1>Liste des stagiaires</h1>
<a class="btn" href="{{ path('new_stagiaire')}}">Ajout</a>
</div>
<div class="line"></div>

<ul>
    {% for stagiaire in stagiaires %}
    <li>
        <a href="{{ path('show_stagiaire', {'id': stagiaire.id }) }}">{{ stagiaire }}</a>
    </li> 
    {% endfor %}
</ul>


{% endblock %}
