{% extends 'base.html.twig' %}

{% block title %}
{% if edit %}
Editer une session
{% else %}
Ajouter une session
{% endif %}
{% endblock %}

{% block body %}
    {% if edit %}
    <h1>Editer une session</h1>
    <div class="line"></div>
          
    {% else %}
    <h1>Ajouter une session</h1>
    <div class="line"></div>
    {% endif %}

    {{ form(formAddSession) }}

{% endblock %}