{% extends 'base.html.twig' %}

{% block title %}Liste des categories{% endblock %}

{% block body %}
<h1>Liste des categories</h1>

    {% for categorie in categories %}
    <div class="list categorie">
        <a href="{{ path('show_categorie', {'id': categorie.id}) }}">{{ categorie.nomCategorie }}</a>
    </div class="list categorie"> 
    {% endfor %}


{% endblock %}
