{% extends 'base.html.twig' %}

{% block title %}Liste des categories{% endblock %}

{% block body %}
<h1>Liste des categories</h1>

<ul>
    {% for categorie in categories %}
    <li>
        <a href="{{ path('show_categorie', {'id': categorie.id}) }}">{{ categorie.nomCategorie }}</a>
    </li> 
    {% endfor %}
</ul>


{% endblock %}
