{% extends 'base.html.twig' %}

{% block title %}Liste des formateurs{% endblock %}

{% block body %}
<div class="titre">
<h1>Liste des formateurs</h1>
{# <a class="btn" href="{{ path('new_formateur')}}">Ajout</a> #}
</div>
<div class="line"></div>

<ul>
    {% for formateur in formateurs %}
    <li>
        <a href="{{ path('show_formateur', {'id': formateur.id }) }}">{{ formateur }}</a>
    </li> 
    {% endfor %}
</ul>


{% endblock %}
